*{
    margin: 0px;
    padding-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    max-width: 750px;
    margin: auto;
}

h1{
    margin: 10px;
}

h2{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.section1{
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.bankLabel{
    margin-left: 5px;
    width: 150px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
    /* border: 2px solid; */

}

.amt{
    border-radius: 8px;
    background-color: white;
    padding-top: 5px;

}

#bankTotalDisplay{
    margin: auto;
    background-color: white;
    width: 150px;
    height: 12px;
    border-radius: 10px;
    padding-top: 5px;
}

#bankBtn{
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 155px;
    margin-right: 5px; */
    padding-top: 8px;
    border-radius: 8px;
}

.section2{
    margin-top: 15px;
    /* margin-left: 10px;
    margin-right: 10px; */
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;    
}

.transLabel{
    width: 150px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 1.0em;
    font-size: 1.0em;
    font-weight: bold;
}

#transTotalDisplay{
    margin: auto;
    background-color: white;
    width: 150px;
    height: 12px;
    border-radius: 10px;
    padding-top: 5px;
}


#transBtn{
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 185px;
    margin-right: 5px; */
    padding-top: 8px;
    border-radius: 8px;
}

hr.solid{
    border: .25px solid black;
}

.section2b{
    justify-content: center;
}

.upcomingLabel{
    font-size: 1.0em;
    font-size: 1.0em;
    font-weight: bold;
    /* margin-left: 250px; */
}

#totalUpcmgAmt{
    margin: auto;
    background-color: white;
    width: 150px;
    height: 12px;
    border-radius: 10px;
    padding-top: 5px;
}



/* .section3{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
} */

#netCashDisplay{
    margin: auto;
    background-color: aliceblue;
    width: 150px;
    height: 20px;
    border-radius: 10px;
}

#netCashBtn{
    margin-top: 10px;
    padding-top: 8px;
    border-radius: 8px;
}